<a href="https://colab.research.google.com/github/ShahadAnazi/Week4_DCF_Assignment/blob/main/DCF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [275]:
#1
import pandas

In [276]:
growth_factor= 1.18
EBITDA_margin= 0.45
tax_pct= 0.21
cap_ex= 0.03
work_cap_growth= 0.06
exit_multiple= 32.70
discount_factor= 0.94

In [277]:
#2
dates= pandas.date_range(start="2022",end="2032",freq='Y')
dates

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [278]:
#3
model_df=pandas.DataFrame(index=dates)
terminal_value_df=pandas.DataFrame()
model_df

Empty DataFrame
Columns: []
Index: [2022-12-31 00:00:00, 2023-12-31 00:00:00, 2024-12-31 00:00:00, 2025-12-31 00:00:00, 2026-12-31 00:00:00, 2027-12-31 00:00:00, 2028-12-31 00:00:00, 2029-12-31 00:00:00, 2030-12-31 00:00:00, 2031-12-31 00:00:00]

In [279]:
#4
start_rev=222
rev_projection=[ start_rev * growth_factor]

for i in range(1,len(dates)):
  rev_projection.append(rev_projection[i-1]*growth_factor)
  
model_df['revenue']=rev_projection

In [280]:
#5
model_df[['revenue']]

                revenue
2022-12-31   261.960000
2023-12-31   309.112800
2024-12-31   364.753104
2025-12-31   430.408663
2026-12-31   507.882222
2027-12-31   599.301022
2028-12-31   707.175206
2029-12-31   834.466743
2030-12-31   984.670757
2031-12-31  1161.911493

In [281]:
#6
model_df['EBITDA']=model_df['revenue']*EBITDA_margin

model_df

                revenue      EBITDA
2022-12-31   261.960000  117.882000
2023-12-31   309.112800  139.100760
2024-12-31   364.753104  164.138897
2025-12-31   430.408663  193.683898
2026-12-31   507.882222  228.547000
2027-12-31   599.301022  269.685460
2028-12-31   707.175206  318.228843
2029-12-31   834.466743  375.510034
2030-12-31   984.670757  443.101841
2031-12-31  1161.911493  522.860172

In [282]:
#7
model_df['Taxes']=model_df['EBITDA']*-(tax_pct)
model_df

                revenue      EBITDA       Taxes
2022-12-31   261.960000  117.882000  -24.755220
2023-12-31   309.112800  139.100760  -29.211160
2024-12-31   364.753104  164.138897  -34.469168
2025-12-31   430.408663  193.683898  -40.673619
2026-12-31   507.882222  228.547000  -47.994870
2027-12-31   599.301022  269.685460  -56.633947
2028-12-31   707.175206  318.228843  -66.828057
2029-12-31   834.466743  375.510034  -78.857107
2030-12-31   984.670757  443.101841  -93.051387
2031-12-31  1161.911493  522.860172 -109.800636

In [283]:
#8
model_df['Cap_ex']=model_df['revenue']*-(cap_ex)
model_df

                revenue      EBITDA       Taxes     Cap_ex
2022-12-31   261.960000  117.882000  -24.755220  -7.858800
2023-12-31   309.112800  139.100760  -29.211160  -9.273384
2024-12-31   364.753104  164.138897  -34.469168 -10.942593
2025-12-31   430.408663  193.683898  -40.673619 -12.912260
2026-12-31   507.882222  228.547000  -47.994870 -15.236467
2027-12-31   599.301022  269.685460  -56.633947 -17.979031
2028-12-31   707.175206  318.228843  -66.828057 -21.215256
2029-12-31   834.466743  375.510034  -78.857107 -25.034002
2030-12-31   984.670757  443.101841  -93.051387 -29.540123
2031-12-31  1161.911493  522.860172 -109.800636 -34.857345

In [284]:
#9
model_df['work_cap']=model_df['revenue']*-(work_cap_growth)
model_df

                revenue      EBITDA       Taxes     Cap_ex   work_cap
2022-12-31   261.960000  117.882000  -24.755220  -7.858800 -15.717600
2023-12-31   309.112800  139.100760  -29.211160  -9.273384 -18.546768
2024-12-31   364.753104  164.138897  -34.469168 -10.942593 -21.885186
2025-12-31   430.408663  193.683898  -40.673619 -12.912260 -25.824520
2026-12-31   507.882222  228.547000  -47.994870 -15.236467 -30.472933
2027-12-31   599.301022  269.685460  -56.633947 -17.979031 -35.958061
2028-12-31   707.175206  318.228843  -66.828057 -21.215256 -42.430512
2029-12-31   834.466743  375.510034  -78.857107 -25.034002 -50.068005
2030-12-31   984.670757  443.101841  -93.051387 -29.540123 -59.080245
2031-12-31  1161.911493  522.860172 -109.800636 -34.857345 -69.714690

In [285]:
#10
model_df['Cash Flow']=model_df.drop(columns=['revenue']).sum(axis=1)
model_df

                revenue      EBITDA  ...   work_cap   Cash Flow
2022-12-31   261.960000  117.882000  ... -15.717600   69.550380
2023-12-31   309.112800  139.100760  ... -18.546768   82.069448
2024-12-31   364.753104  164.138897  ... -21.885186   96.841949
2025-12-31   430.408663  193.683898  ... -25.824520  114.273500
2026-12-31   507.882222  228.547000  ... -30.472933  134.842730
2027-12-31   599.301022  269.685460  ... -35.958061  159.114421
2028-12-31   707.175206  318.228843  ... -42.430512  187.755017
2029-12-31   834.466743  375.510034  ... -50.068005  221.550920
2030-12-31   984.670757  443.101841  ... -59.080245  261.430086
2031-12-31  1161.911493  522.860172  ... -69.714690  308.487501

[10 rows x 6 columns]

In [286]:
model_df.transpose().round(00)

           2022-12-31  2023-12-31  ...  2030-12-31  2031-12-31
revenue         262.0       309.0  ...       985.0      1162.0
EBITDA          118.0       139.0  ...       443.0       523.0
Taxes           -25.0       -29.0  ...       -93.0      -110.0
Cap_ex           -8.0        -9.0  ...       -30.0       -35.0
work_cap        -16.0       -19.0  ...       -59.0       -70.0
Cash Flow        70.0        82.0  ...       261.0       308.0

[6 rows x 10 columns]

In [287]:
#11
discount_factor=[discount_factor** i for i in range (1,len(dates)+1)]
discount_table=pandas.DataFrame(index=discount_factor)
discount_table['present_value_fcf']=discount_factor*model_df['Cash Flow'].values
discount_table

          present_value_fcf
0.940000          65.377357
0.883600          72.516565
0.830584          80.435373
0.780749          89.218916
0.733904          98.961622
0.689870         109.768231
0.648478         121.754922
0.609569         135.050559
0.572995         149.798080
0.538615         166.156031

In [288]:
#12
pv=present_Value_of_projected_CF=discount_table['present_value_fcf'].sum()
pv.round()

1089.0

In [289]:
#13 
terminal_frame=pandas.DataFrame(index=['2032'])
terminal_frame['revenue']=model_df['revenue'].iloc[-1]*growth_factor
terminal_frame['EBITDA']=terminal_frame['revenue']*EBITDA_margin

In [290]:
rev_2032=terminal_frame[['revenue']].round()

In [291]:
EBITDA_2032=terminal_frame['EBITDA']
EBITDA_2032.round()

2032    617.0
Name: EBITDA, dtype: float64

In [292]:
rev_2032

      revenue
2032   1371.0

In [293]:
terminal_frame['terminal_valuation']=terminal_frame['EBITDA']* exit_multiple+present_Value_of_projected_CF
T_F=terminal_frame['terminal_valuation'].round()
T_F

2032    21264.0
Name: terminal_valuation, dtype: float64

In [294]:
print(f"""Our projected Present Value of Projected Future Cash Flows are: {pv.round()}
We are providing revenue guidance in 2032 to be:{rev_2032.values}
With an estimated EBITDA around:{EBITDA_2032.values.round()}

The terminal value at this time given a multiple of {exit_multiple} and the above EBITDA for 2032, would equal: {T_F.values.round()}.""")

Our projected Present Value of Projected Future Cash Flows are: 1089.0
We are providing revenue guidance in 2032 to be:[[1371.]]
With an estimated EBITDA around:[617.]

The terminal value at this time given a multiple of 32.7 and the above EBITDA for 2032, would equal: [21264.].